<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stockmarket">

    <!-- For the group: when making a new activity make sure to declare it between the application tags and between an activity tag -->
    <!-- When making your class for an activity, make sure to extend it to AppCompatActivity and override the onCreate() method -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockMarket" >
        <activity
            android:name=".StockActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SideMenu"
            android:exported="true">
        </activity>
        <activity
            android:name=".StockInformation"
            android:exported="true">
        </activity>
    </application>
</manifest>